@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
/* Global styles */

.font {
  font-family: "Merriweather", serif;
  font-style: normal;
  color: white;
}

.gradient {
  background-image: linear-gradient(
    to right,
    #ff8177 0%,
    #ff867a 0%,
    #ff8c7f 21%,
    #f99185 52%,
    #cf556c 78%,
    #b12a5b 100%
  );
}

body {
  margin: 0;
  padding: 0;
  @extend .gradient;
  @extend .font;

  button {
    @extend .font;
    font-weight: bolder;
  }
  p {
    @extend .font;
    font-weight: 300;
  }

  li {
    @extend .font;
    font-size: 0.85em;
  }
}
